[Desktop Entry]
Name=M@il Checker
Type=Service
ServiceTypes=Plasma/Applet
Icon=contents/icons/mailChecker.png
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Fl@sh
X-KDE-PluginInfo-Email=kaperang07@gmail.com
X-KDE-PluginInfo-Name=kde-plasma-mail-checker
X-KDE-PluginInfo-Version=1.15.68
X-KDE-PluginInfo-Website=https://github.com/F1ash/kde-plasma-mail-checker
X-KDE-PluginInfo-Category=Online services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
