[Desktop Entry]
Encoding=UTF-8
Name=M@il Checker
Type=Service
ServiceTypes=Plasma/Applet
Icon=/usr/share/kde4/apps/plasma/plasmoids/kde-plasma-mail-checker/contents/icons/mailChecker.png
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Fl@sh
X-KDE-PluginInfo-Email=no@mail.me
X-KDE-PluginInfo-Name=kde-plasma-mail-checker
X-KDE-PluginInfo-Version=1.5.20
X-KDE-PluginInfo-Website=https://github.com/F1ash/plasmaMailChecker
X-KDE-PluginInfo-Category=Online services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
